{% extends 'dashboard/base.html' %}
{% load static %}
{% block content %}

<!-- Background -->
<div class="register-bg">
  <div class="register-card">
    <h2 class="register-title">Create Your Account</h2>
    <form method="POST" enctype="multipart/form-data" class="register-form">
      {% csrf_token %}     
      <div class="container">
      <legend class="border-bottom mb-4">Join Today</legend>
      {{form}}
      <!-- Submit Button -->
       <div class="form-group">
        </div>
      <button type="submit" class="btn-submit">Sign Up</button>
      </div>
    </form>
    <p class="login-text">
      Already have an account?
      <a href="{% url 'login' %}">Sign In</a>
    </p>
  </div>
</div>

{% endblock content %}